* {
    font-size: 1.2rem;
}

.main {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}

.libraryBoxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}

.newBookButton {
    align-self: center;
}

.formBox > div {
    display: flex;
    gap: 5px;
}

.formBox > div > label {
    flex-grow: 1;
}

.green {
    background-color: rgb(19, 199, 19);
}

.red {
    background-color: rgb(238, 64, 64);
}

button {
    width: 100%;
    padding: 2px;
}